.container {
    width: 100%;
}

.row {
    display: flex;
}

.text-center {
    text-align: center!important;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
}

/*Topological design*/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
}


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 14px;
}

h4, h3 {
    font-family: 'Open Sans', sans-serif;
}


p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
}


a {
    background: #fff;
    color: #222;
    text-decoration: none;
}


a:hover {
    background: #F90B6D;
    color: #eee;
    text-decoration: none;
}

#deathsNum, #newDeathsTodayTotal {
    color: red;
    font-weight: bolder;
}

#recoveredNum {
    color: green;
    font-weight: bolder;
}

#numOfInfections, #newCasesTodayTotal {
    color: dodgerblue;
    font-weight: bolder;
}

#unresolvedNum {
    color: dimgrey;
    font-weight: bolder;
}

/*CSS for the pie Chart*/
#con {
    resize: both;
    overflow: hidden;
    display: inline-block;
    width: 20em;
    height: 20em;
    padding: 0.5em;
}

.pie-chart-value {
    fill: none;
    stroke-width: 50;
}
