html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

.container {
    height: 100%;
}

.header {
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
}

h1 {
    padding-left: 2%;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 5px;
}

li {
    display: inline;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: larger;
    text-decoration: none;
}

li a:hover {
    background-color: bisque;
}

span {
 font-size: 30px;
}

.logo {
    width: 6%;
}

.map {
    max-width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    padding-bottom: 10px;
}

.tap {
    display: none;
    height: 78%;
}

#guestBookTap .form {
    padding-left: 35px;
    margin: 0px;
    box-shadow: 0 2px 5px #f5f5f5;
}

#guestBookTap input, textarea {
    width: calc(50% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    outline: none;
}

#guestBookTap input::placeholder {
    color: #666;
}

#guestBookTap button {
    width: 50%;
    padding: 10px;
    border: none;
    background: black;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

#guestBookTap, #productsTap button:hover {
    opacity: 0.8;
}

#productsTap form {
    padding-left: 2%;
    box-shadow: 0 2px 5px #f5f5f5;
}

#productsTap input {
    float:left;
    width: calc(50% - 18px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    outline:none;
}

#search button {
    padding: 12px;
    border: none;
    background: black;
    font-size: 16px;
    color: white;
}

table {
    text-align: center;
    margin: 2%;
}

table td {
    border: solid 2px 	#d5d5dd;
    padding-bottom: 3%;
}

table img {
    height:30%;
    display:inline-block;
}

table figcaption {
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .main, .tap {
        width: 100%;
    }

    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}