html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

.container {
    height: 100%;
}

.header {
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
}

.tap {
    padding-left: 2%;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 5px;
}

li {
    display: inline;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: larger;
    text-decoration: none;
}

li a:hover {
    background-color: bisque;
}

span {
 font-size: 30px;
}

iframe {
    width: 50%;
    height: 250px;
}

.logo {
    width: 6%;
}

.map {
    max-width:50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    padding-bottom: 10px;
}

.tap {
    display: none;
    height: 78%;
}

#guestBookTap .form {
    margin: 0px;
}

#guestBookTap input, textarea {
    width: calc(50% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    outline: none;
}

#guestBookTap input::placeholder {
    color: #666;
}

#guestBookTap button, #productsTap button {
    padding: 12px;
    border: none;
    outline: none;
    background: antiquewhite;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#guestBookTap button{
    width: 50%;
}

#guestBookTap button:hover {
    background: bisque;
}

#productsTap button:hover {
    background: bisque;
}

#productsTap input {
    float:left;
    width: calc(50% - 18px);
    padding: 10px;
    font-size: 16px;
    outline:none;
}

table {
    text-align: center;
    margin: 2%;
}

table td {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3%;
}

table img {
    height: 20%;
    display: inline-block;
    margin-top: 2%;
}

table figcaption {
    font-size: 14px;
}

#showNews {
    text-align: left;
}
#showNews td{
    border-bottom: 1px solid black;
}

#showNews a {
    text-decoration: none;
    color: black;
}

#showNews a:hover {
    background-color: bisque;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .tap {
        width: 100%;
    }

    ul li a {
        text-align: center;
        float: none;
    }
}